@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.dashboard-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.dashboard-menu-container{
    width: 16%;
    height: 100%;
    background-color: #4F46E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    
}

.top-menu-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
}

.dashboard-logo-container{
    width: 30px;
    height: 30px;
    /*background-color: beige;*/
}

.dashboard-logo-container img{
    width: 100%;
    height: 100%;
    color: white;
} 

.menu-items-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    row-gap: 0.9rem;
}

.dashboard-menu-list-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    padding: 0.2rem;
    
}
.home-icon{
    width: fit-content;
    height: auto;
}

.home-icon i{
    color: rgb(255, 255, 255);
}

.dasboard-text{
    width: fit-content;
    height: auto;
}
.dasboard-text p{
    font-size: 0.8rem;
    font-weight: 500;
}

.teams-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.teams-text{
    width: fit-content;
    height: auto;
}

.teams-text h1{
    color: white;
    font-size: 0.7rem;
}

.teams-items-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    padding: 0.2rem;
    
}

.h-element-container button{
    width: fit-content;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: #ce94f5;
    outline: none;
    border: none;
    padding: 0.3rem;
    border-radius: 0.2rem;
    font-size: 0.5rem;
}

.teams-label-container p{
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}

.bottom-menu-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    
}

.dashboard-details-container{
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /*background-color: bisque;*/
}

.settings-icon-container{
    width: fit-content;
    height: auto;
}

.settings-icon-container i{
    color: white;
}

.setting-text p{
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.dashboard-details-container{
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.top-dashboard-details-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
   /* background-color: rgb(34, 184, 86);*/
}

.search-and-input-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem;
}

.search-icon-container{
    width: fit-content;
    height: auto;
}

.search-icon-container i{
    color: rgb(168, 168, 168);
}

.search-input-container{
    width: fit-content;
    height: auto;
    outline: none;
    border: none;
    
}

.form input{
    outline: none;
    border: none;
    border-radius: 0.2rem;
    border: 1px solid grey;
    padding: 0.3rem 0.3rem 0.3rem 0.6rem;
}

.top-right-details-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
    padding: 1rem;
}

.bell-icon-container{
    width: fit-content;
    height: auto;
}

.bell-icon-container i{
    color: rgb(149, 148, 148);
}

.profile-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.9rem;
}

.profile-name-picture{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
}

.profile-pic{
    width: 30px;
    height: 30px;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    border: 1px solid rgb(160, 159, 159);
}

.profile-name{
    width: fit-content;
    height: auto;
}

.profile-name p{
    color: rgb(90, 90, 90);
    font-size: 0.9rem;
    font-weight: 600;
}

.dropdown-container{
    width: fit-content;
    height: auto;
}

.dropdown-container i{
    color: rgb(160, 159, 159);

}

.bottom-dashboard-details-container{
    width: 100%;
    height: 100vh;
    /*background-color: aqua;*/
    border:1px solid black;
    
}




