@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.form-section-container{
    width: 90%;
    height: auto;
    background-color: white;
    border: 1px solid #d7d7d7;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 4rem 2rem;
}


.form{
    /* background-color: #e3e3e3; */
    width: 44%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.5rem;
    padding: 2rem;
    
}


.top-form-section{
    /* background-color: grey; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.1rem;
    
   
}

.brand-and-title-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2rem;
    /*background-color: azure;*/
}


.brand-image-container{
    width: 64px;
    height: 64px;
}

.brand-image-container img{
    width: 100%;
    height: 100%;
}


.title-container{
    width: fit-content;
    height: auto;
}


.title-container h1{
    font-size: 1.4rem;
}

.input-group-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.1rem;
    
}

.input-group{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.password-label-link-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.password-label-link-container a{
    font-size: 0.9rem;
    color: blue;
    font-weight: 600;
    text-decoration: none;
}

.input-group input{
    width: 100%;
    height: auto;
    padding: 0.6rem 0.6rem 0.6rem 1.5rem;
    border-radius: 0.35rem;
    outline: none;
    border: none;
    border: 1px solid grey;
}

.input-group label{
    font-size: 0.9rem;
    font-weight:600;

}

.bottom-form-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1.5rem;
    
    /*background-color: aquamarine;*/
}

.form-button-container{
    width: 100%;
    height: auto;
  
}

.form-button-container button{
    width: 100%;
    height: auto;
    color: white;
    background-color: rgb(105, 60, 147);
    padding: 0.6rem;
    font-size: 0.9rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;  

}

.member-trial-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    
}

.not-a-member-container{
    font-size: 0.9rem;
    font-weight: 500;
}

.free-trial-container{
    width: fit-content;
    height: auto;
}

.free-trial-container a{
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}
