*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    margin: 2rem auto;
    width: 34%;
    height: auto;
    background-color: aliceblue;
    padding: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #1e1e1e;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

.input-group{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


input{
    width: 100%;
    height: auto;
    padding: 1rem;
}

.button-container{
    width: 100%;
    height: auto;
}

button{
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: black;
    color: white;
}

.posts-container{
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
}